*{
    margin: 0;
    padding: 0;
}


#nav>div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
#nav>div>a{
    text-decoration: none;
    color: white;
}
#profile-menu {
    color: white;
    list-style: none;
    padding: 0;
    width: 80px;
    padding: 10px;
    position: absolute;
    display: none;
    cursor: pointer;
}

#profile-menu > li:hover {
    background-color: black;
}

#login-person:hover #profile-menu {
    display: block;
}
#product-count{
    font-size: 25px;
    font-weight: bold;
    color: black;
}
#cart{
    cursor: pointer;
}

/* filter-container styles */
#sortByPrice{
    border: none;
    padding: 8px;
    border-radius: 4px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
background: rgba(34, 192, 195, 0.663);


}

#sortByName{
    border: none;
    padding: 8px;
    border-radius: 4px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
background: rgba(34, 192, 195, 0.663);

margin-left: 10px;
}

#filterByCategory{
    border: none;
    padding: 8px;
    border-radius: 4px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
margin-left: 10px;
background: rgba(34, 192, 195, 0.663);

}

#filter-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 55px;
}
#filter-container>div{
    padding: 10px;
    padding-left: 45px;
}
#filter-container>button{
    padding: 7px 10px;
    background-color: rgb(22, 104, 219);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#cart-sup{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 40px;
    position: relative;

margin-right: 20px;    
}
#cart-sup i{
    font-size: 25px;
}

#product-count{
   background-color: #2875f0bd;
   border-radius: 50%;
   padding: 1px 6px;
   font-size: medium;
   position: absolute;
   top: -7px;
   right: -14px;
   transition: all 1s;
   animation-name: cartanimation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
} 

@keyframes cartanimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);

    }
    
}




/* product-container styles */

#products-container{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
    top: 70px;
}

#products-container>div{
    width: 200px;
     height: 250px;
      border: 1px solid rgba(128, 128, 128, 0.063);
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
}
#products-container>div>img{
    width: 80%;
    height: 50%;
}
#products-container>div>h3{
    font-size: 15px;
}
#products-container>div>p{
    font-size: 25px;
    font-weight: bold;
}
.btn1{
    background: rgb(51,86,240);
background: linear-gradient(90deg, rgba(51,86,240,1) 0%, rgba(13,58,179,1) 13%, rgba(0,130,255,1) 100%);
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: all 0.3s linear;
}

.btn1:hover{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
transform: scale(1.07);
    
}




  





#reset-button
{
    cursor: pointer;
transition: all 1s ;

}

#reset-button:hover{
    background-color: rgb(30, 40, 30);

    
}













:root {
    --primary-color: #2874f0;
}


/* header */
header {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 8;



}






header .nav-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    max-width: 100vw;
    margin: 0 auto;
    background-color: var(--primary-color);
    height: 53px;
    padding-left: 100px;


}

/* ....log..... */

.logo{
    width: 70px;
    position: relative;
    top:2px;
}
.logo img{
    width: 100%;
}
.explore{
    width: 80px;
    display: flex;
    white-space: nowrap;
    display: flex;
    /* justify-content: center; */
    align-content: flex-start;
    height: 100%;
    position: relative;
    top:-2px;
}
.explore a{
    display: flex;
    color: white;
    text-decoration: none;
    transition: all 2s ;
}
.explore a:hover{
    text-decoration: underline;
}
.explore p{
    margin:0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color:white;
    
}
.explore img{
    width: 10px;
    height: 10px;
    margin: 0;
}
.plus-icon{
    color:#ffe500;
    
}





header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}
header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}
header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}




/* ....header.. */


header .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header .more svg {
    margin-left: 8px;
    rotate: -90deg;
}

/* ....user.... */

.more_link{
    font-weight: 550;
    padding:0px 15px;
    font-size: 15px;
    color:white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    position: absolute;
    right: 130px;

}
.icon_more{
    font-size: 10px;
    transition: transform 0.5s;

}
.more_link:hover .icon_more{
    transform: rotate(-180deg);

}
.more_menu{
    position: absolute;
    height:160px;
    width:200px;
    content: "";
    background-color: transparent;
    transform: translateX(-35%);  
    padding-top:10px;
    display: none;
 /*** change done****/

    
}
.more_link:hover .more_menu{
    display: block;



}
.more_menu::before{
    position: absolute;
    content: "";
    margin-left: 95px;
    top:1px;
    border-top:0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white; 

}
.more_menu_list{
    background-color: white;
    height: 100%;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.more_menu_list a{
    display: flex;
    font-size: 14px;
   text-decoration: none;
}
.more_menu_list i{
    color: #2874f0;
}
.more_menu_list p{
    color:#474545;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: 500 ;
}




@media all and (min-width: 80px) and (max-width: 957px) {


header .search .search-container{
    width: 340px;
}


}



@media all and (min-width: 80px) and (max-width: 756px) {
    header .search .search-container{
        display: none;
    }
}


@media all and (min-width: 80px) and (max-width: 663px) {
#sortByPrice{
padding: 1px;
font-size: 10px;
}


#sortByName{
    padding: 1px;
    font-size: 10px;
}


#filterByCategory{
    padding: 1px;
    font-size: 10px;
}

header .nav-container{
justify-content: space-between;
padding-left: 20px;
margin: 0px;


}

}




@media all and (min-width: 80px) and (max-width: 465px) {

#sc{
    padding-left: 0px;
}

#reset-button{
    padding: 0px;
}

}